<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/game.css">
    <title>Madlibs</title>
</head>
<body>
    <form action="/madlib" method="POST">
        <label for="">Person</label><input type="text" name="person" id="">
        <label for="">Noun</label><input type="text" name="noun" id="">
        <br />
        <label>Adjective</label>
        <select name="adjective" id="">
            {% for word in adjective %}
                <option value={{word}}>{{word}}</option>
            {% endfor %}
        </select>
        <label for="">Color</label>
        <select name="color" id="">
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="black">Black</option>
        </select>
        <input type="submit" />
    </form>
</body>
</html>